
/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
*{
  box-sizing: border-box;
  /* font-family: 'Source Sans Pro', sans-serif; */
  /* font-family: 'Baloo 2', cursive; */
}
body{
  background-color: #2b3035;
  color: white;
  overflow-x: hidden;
}
nav{
  /* background-color: #00aeff !important; */
  background: white;
}
.active{
  font-weight: 700;
}
.tweetbody{
  background-color: #fff;
  color: black;
}
.headtweet{
  display: flex;
  align-items: center;
}
.profpic{
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 5px;
}
.inttweet{
  display: flex;
  justify-content: space-between;
}
.inttweet p{
  padding: 0;
  margin: 0;
}
.inttweet span{
  font-weight: bold;
}
.mainrow{
  width: 100vw;
  margin: 0;
  padding: 0;
}
.newsbody{
  background-color: #fff;
  color: black;
}
.newsbody img{
  width: 100%;
}
.profile{
  color: black;
  background-color: #fff;
}
.profimg img{
  width: 100%;
}
.modal-content{
  background-color: #fff;
  color: black;
}
.likescount{
  text-decoration: none;
  background-color: #4e5861;
  font-size: 0.8rem;
  font-weight: 100;
}
.likescount img{
  object-fit: cover;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
/* .likescount Link{
  color: white;
} */
.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #2b3035;
}

.not-found-title {
  font-size: 6rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #ff3b3f;
}

.not-found-text {
  font-size: 2rem;
  color: #fff;
}
.verified{
  height: 10px;
}
.about-container {
  /* text-align: center; */
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.about-title {
  font-size: 32px;
  margin-bottom: 20px;
  color: #333;
}

.about-description {
  font-size: 18px;
  line-height: 1.5;
  color: #666;
}
/* .datetweet{
  flex-direction: column;
  margin: 0;
  padding: 0;
} */
.newsTitle:hover{
  color: rgb(228, 148, 0);
  transition: 0.2s;
}
hr{
  margin: 10px 0;
}

.likebtn{
  border: none;
  background-color: transparent;
}
.likebtn img:hover{
  scale: 1.05;
  transition: 0.2s;
}

/* CSS for WhatsApp-style chat */

.chat-container {
  padding-top: 5px;
  display: flex;
flex-direction: column;
}

.chat-message {
  /* width: 95%; */
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.chat-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 5px;
}

.chat-bubble {
  width: 90%;
  background-color: #0067ff3b;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
  line-height: 1.4;
  position: relative;
  font-family: 'Nunito Sans', sans-serif !important;
  font-weight: 100;
}


.ongoing{
  /* align-items: flex-end; */
  flex-direction: row-reverse;
}

.chat-message .ongoing{
  background-color: #e2e2e2;
}

.chat-time {
  font-size: 12px;
  color: #777;
}
.modal-body{
  padding-top: 0px;
  font-family: 'Nunito Sans', sans-serif !important;
}
.alert{
  position:sticky;
  top: 10px;
}